# Auto detect text files and perform LF normalization
* text=auto
# Count Rmd as R
*.Rmd linguist-language=R
*.rmd linguist-language=R

# (Optional) ensure they’re counted in the graph
*.Rmd linguist-detectable=true
*.rmd linguist-detectable=true